.featproduct {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}


.featproduct p {
    padding-left: 10px;
    margin: 0px;
    text-transform: uppercase;
}

.featproduct p:last-of-type {
    margin-top: 15px;
    margin-bottom: 15px;
}

section {
    width: 250px;
    height: 250px;
    margin: 20px auto;
}

button {
    background-color: none;
    text-decoration: underline;
}

.featproduct:hover {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}


.homeslider {
    height: 100vh;
    margin-top: -20px;
}

.homeslider div {
    height: 100%;
    background: url('/public/cover1.avif') center center no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-weight: bolder;
    line-height: 70px;
    margin-bottom: 30px;
}

.mainp {
    width: 75%;

}




/* Media */
@media (min-width: 481px) and (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .mainp {
        width: 75%;
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 40px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .mainp {
        width: 75%;
        font-size: 12px;
    }
}

/* Media */